body {
  margin: 0;
  
    font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  background: #07071a;
  min-height:10vh;
  width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
header a{
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  margin-left: 1.5%;
}

/* MAIN CONTAINER */
.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 
min-height: 80vh;
}

/* PRODUCTS CONTAINER */
.products-container{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap; 
}
.products-container div{
  height: 350px;
  width: 250px;
  box-shadow: 1px 1.2px 1.6px 1.3px#f3f1f1;
  margin: 0.5rem 0.5rem;
  
}
.products-container div img{
  height: 80%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.products-container div footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
  
/* END OF PRODUCTS CONTAINER */

/* FILTERABLE SECTION */
.filter-section{
  width: 20%;
height: 90vh;
box-shadow: 0.5px 0.7px 0.7px 0.7px #dfdddd;
 
}
.select-container{
  width: 100%;
  color: #07071a;

  display: grid;
  justify-items: center;
  padding: 2%;
  margin: 3% 0;
}
.select-container select{
  width: 80%;
  box-shadow: 0.5px 1px 2px 1.2px #dfdddd;
  padding: 3% 0;
  border: none;
}
.select-container h5{
  text-transform: uppercase;
  color: #07071a;
  font-size: 1.2rem;
  font-weight: 200;

  text-align: center;
}


/* END OF FILTERABLE SECTION */